modules:

  - from-file: common/config/dnf.yml
  - from-file: common/config/files.yml
  - from-file: common/config/justfiles.yml
  - from-file: common/config/services.yml
  - from-file: common/config/scripts.yml
